<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>棱形</title>
    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" href="css/layout.css">
</head>

<body>
    <!--  使用thymeleaf输出棱形  -->
    <h2>棱形</h2>
    <div th:with="size=${size % 2 == 0 ? size + 1 : size}">
      <th:block th:each="i : ${#numbers.sequence(0, size/2)}">
        <div>
          <th:block th:each="j : ${#numbers.sequence(1, size/2 - i)}">&nbsp;</th:block>
          <th:block th:each="j : ${#numbers.sequence(0, 2*i)}" th:utext="'*'"></th:block>
        </div>
      </th:block>

      <th:block th:each="i : ${#numbers.sequence(size/2 + 1, size - 1)}">
        <div>
          <th:block th:each="j : ${#numbers.sequence(0, i - size/2 - 1)}">&nbsp;</th:block>
          <th:block th:each="j : ${#numbers.sequence(0, 2*size - 2*i - 1)}" th:utext="'*'"></th:block>
        </div>
      </th:block>
    </div>
</body>
<script></script>

</html>
