<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>goto test</title>
    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" href="css/layout.css">
</head>

<body>
    <form target="_blank" method="post" action="goto_sth">
        <h1>友情链接</h1>
        <select name="url">
            <option value="http://www.baidu.com">百度</option>
            <option value="http://www.taobao.com">淘宝</option>
            <option value="http://www.jd.com">京东</option>
        </select>
        <input type="submit" value="跳转">
    </form>
</body>
<script></script>

</html>
