<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>登录页面demo</title>
    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" href="css/layout.css">
</head>

<body>
<form target="_blank" method="post" action="/login0409-do">
    <h1>用户登录</h1>
    <label for="username">用户名:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">密码:</label>
    <input type="password" id="password" name="password"><br><br>
    <a href="fogot-pwd">忘记密码</a>
    <input type="submit" value="确定">
    <a href="register">
        <input type="button" value="注册">
    </a>
</form>
</body>
<script></script>

</html>
