<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>注册页</title>
    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" href="css/layout.css">
    <style>
        .container {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .form-signin {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        .form-signin > * {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <form class="form-signin" role="form" action="/register0409-do" method="post">
            <h2 class="form-signin-heading">请注册</h2>
            <input type="text" class="form-control" name="name" placeholder="用户名" required autofocus/>
            <input type="password" class="form-control" name="password" placeholder="密码" required/>
            <input type="password" class="form-control" name="passwordRepeat" placeholder="重复密码" required/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
        </form>
    </div>
</body>
<script>
</script>

</html>
