<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${isLogin} ? '登录成功！' : '注册成功！'"></title>
    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" href="css/layout.css">
</head>

<body>
<h1 th:text="${isLogin} ? '登录成功！' : '注册成功！'"></h1>
</body>
<script></script>

</html>
